body {
	font-family: Trebuchet MS, Arial, sans-serif; 
	font-size: small;
	background-image: url('ak-background.jpg');
	background-color: #00CED1;
	color: black;
	line-height: 1.2em;
	border-color: white;
	border-style: dotted;
	border-width: 2px;
	padding: 30px;
	margin: 30px;
}
h1 {
	font-size: 400%;
	color: #C0C0C0;
}
h2 {
	font-size: 200%;
	color: #C0C0C0;
}
h3 {
	font-size: 125%;
	color: #00CED1;
}
h4 {
	font-size: 125%;
	color: #00CED1;
}
a:link {
	color: #66CCFF;
}
a:visited {
	color: #7B68EE;
}
a:hover {
	color: #0000FF;
}
/* START NAV MENU */
nav {
	background-color: #FFFFFF;
	height: 30px;
}
nav ul {
	font-family: "Myriad Pro", Tahoma, Geneva, sans-serif;
	font-size: 20px ;
	margin: 0 60 px 0  0;
	padding: 0 0 0 0;
	list-style: none;
	border-top: 5px solid #C0C0C0;
	background: transparent;
}
nav ul li {
	display: block;
	position: relative;
	float: left;
}
nav li ul {
	display: none;
}
nav ul li a {
	display: block;
	text-decoration: none;
	padding: 7px 15px 3px 15px;
	background: #48D1CC;
	color: #FFFFFF;
	margin-left: 1px;
	white-space: nowrap;
	height: 30px;
	width: 135px;
	text-align: center;
	border-width: 3 px 0;
	border: 2px solid #00CED1;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
nav ul li a:hover, li a.active {
	background: #C0C0C0;
}
nav li:hover ul {
	display: block;
	position: absolute;
	height: 30px;
}
nav li: hover li: {
	float: none;
	font-size: 11px;
}
nav li:hover a {
	background: #C0C0C0;
	height: 30px;
}
nav li:hover li a:hover {
	background: #6699ff;
}
nav ul li ul li a {
	text-align:left;	
}
/*END NAV MENU*/ 

/*BEGIN CLASS & ID CSS*/
#biglink {
	font-size: 200%;
}
#littlelink {
	font-size: 75%;
}
#nav {
	color: white;
}
#description {
	width: 300px;
	float: left;
}
#work {
	width: 300px;
	float: right;
}
#link {
	width: 200px;
	float: right;
	font-size: 120%;
	font-family: Georgia, Times New Roman, serif;
	padding: 0px 20px 30px 10px;
	margin: 20px 70px 30px 10px;
	border-width: thin;
	border-style: solid;
	border-color: #00CED1;
	text-align: center;
	line-height: normal;
	background-color: #F5F5F5;
}
#top {
	
}
.bottom {
	text-align: center;
}
#button {
	border: 2px solid #C0C0C0;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
#box1 {
	background: #AFEEEE;
	padding: 4px;
	margin: 3px;
	width: 750px;
}
#req {
	text-decoration: underline;
	color: #00CED1;
}
#about {
	border: 2px ridge #00CED1;
	width: 500
	float: left;
}
#indent {
	padding: 20px;
}