body {
    font-family: 'Montserrat', sans-serif;
}
a.navbar-brand img{
    width: 90px;
    opacity: 0.8;
}
.jumbotron{
    background-image: url(Glub2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
#jumboheader{
    color: white; 
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 3px 2px #7058a7;
    font-size: 40px; 
    font-weight: bold;
    line-height: 1.6;

}
#jumbobody{
    color: white;
    font-size: 20px; 
    font-family: 'Muli', sans-serif;
    display: block;
    text-shadow: 1px 2px #7058a7;
}
.navbar-nav {
    font-size: 18px;
}
.h-center {
    text-align: center;
    font-weight: bold;
    line-height: 1.8;
}
.pill-white-center {
    color: white;
    text-align: center;
    text-decoration: none;
}
.badge{
    background-color:#7058a7; 
    width: 100px;
    height: 32px;
    padding: 9px;

}
.btn-secondary {
    
    text-align: center;
    background-color:#7058a7;
    border-radius: 20px;
}
.btn-secondary:hover {
    text-decoration: none;
    color: white;
}
.pill-light{
    background-color: #f0f5f5;
}
.center-button{
    text-align: center;
}
