body {
    font-family: 'Montserrat', sans-serif;
}
a.navbar-brand img{
    width: 90px;
    opacity: 0.8;
}
.jumbotron{
    background-image: url(zachary-nelson-192289-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 100px;
}
#jumboheader {
    color: white; 
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 4px 3px #7058a7;
    font-size: 40px; 
    font-weight: bold;
    padding: 70px 0;
 
}
.navbar-nav {
    font-size: 18px;
}
.h-center {
    text-align: center;
    font-weight: bold;
    line-height: 1.8;
}
.pill-white-center {
    color: white;
    text-align: center;
    text-decoration: none;
}
.badge{
    background-color:#7058a7; 
    width: 100px;
    height: 32px;
    padding: 9px;

}
.center-pill {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.pill-white-center:hover {
    text-decoration: none;
    color: white;
}
.pill-light{
    background-color: #f0f5f5;
}
.card-body{
    padding: 20px;
}
.h-purple{
    color: #7058a7; 
    font-size: 22px;
    font-weight: bold;  
}
.emphasis {
    font-weight: bold;
    text-decoration: underline;
}
.oblique {
    font-style: oblique;
}
.card-header{
    background-color: #e0ccff;
}